{% load static %}

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="Bootstrap, a sleek, intuitive, and powerful mobile first front-end framework for faster and easier web development.">
<meta name="keywords" content="HTML, CSS, JS, JavaScript, framework, bootstrap, front-end, frontend, web development">
<meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">

<title>{{ config.title }}</title>

<!-- Bootstrap core CSS -->
{% if config.type == 'less' %}
    {% for less_url, css_url in config.style_files %}
    <link rel="stylesheet/less" type="text/css" href="{% static less_url %}"/>
    {% endfor %}
    <script src="//cdnjs.cloudflare.com/ajax/libs/less.js/1.7.0/less.min.js"></script>
{% else %}
    {% for sass_url, css_url in config.style_files %}
    <link rel="stylesheet" type="text/css" href="{% static css_url %}">
    {% endfor %}
{% endif %}

<!-- Documentation extras -->
<link href="{% static "bootstrap_docs/assets/css/docs.min.css" %}" rel="stylesheet">
<!--[if lt IE 9]><script src="{% static "bootstrap_docs/assets/js/ie8-responsive-file-warning.js" %}"></script><![endif]-->

<!-- Favicons -->
<link rel="apple-touch-icon-precomposed" sizes="144x144" href="{% static "bootstrap_docs/assets/ico/apple-touch-icon-144-precomposed.png" %}">
                                   <link rel="shortcut icon" href="{% static "bootstrap_docs/assets/ico/favicon.ico" %}">

<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
  <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->

<script>
  var _gaq = _gaq || [];
</script>

